{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 3,
    "scss/at-mixin-pattern": "^(kaiju-)[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "selector-class-pattern": [
      "(?:[a-zA-Z0-9]+)",
      {
        "message": "Class names should match the SUIT CSS naming convention"
      }
    ]
  }
}
