:local {
  .icon {
    margin-right: 5px;
  }

  .select {
    width: 100%;
  }
}

// Custom ant overrides.
.ant-select-dropdown::-webkit-scrollbar {
  background-color: transparent;
}

.ant-select-dropdown::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.ant-select-dropdown::-webkit-scrollbar-corner {
  background-color: transparent;
}
