.kaiju-Child {
  color: #999;
  cursor: pointer;
  display: flex;
  flex: auto;
  line-height: 15px;
  padding: 4px 0;

  &:hover {
    > .kaiju-Child-actions {
      opacity: 1;
    }
  }
}

.kaiju-Child-type {
  white-space: nowrap;

  &.is-selected {
    color: var(--kaiju-theme-color, #1db954);
  }
}

.kaiju-Child-actions {
  display: flex;
  margin-left: auto;
  opacity: 0;
}

.kaiju-Child-action {
  color: #999;
  cursor: pointer;
  padding: 0 5px;

  &:hover {
    color: var(--kaiju-theme-color, #1db954);
  }
}
