:local {
  .info {
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.35714285714285715rem;
    visibility: hidden;
  }

  .icon {
    margin-right: 0.35714285714285715rem;
  }

  .item {
    color: #bbb;
    cursor: grab;
    display: flex;
    flex: 0 0 auto;
    list-style-type: none;
    padding: 0.35714285714285715rem 0;

    &:hover {
      background-color: var(--kaiju-theme-hover-active, #282828);

      .info {
        visibility: visible;
      }
    }
  }

  .link {
    color: var(--kaiju-theme-color, #1db954);
    padding-left: 0.35714285714285715rem;

    &:hover {
      color: rgba(29, 185, 84, 0.75);
    }
  }

  .header {
    background-color: #222;
    display: flex;
    padding: 0.5714285714285714rem;
  }

  .documentation {
    color: #a1a1a1;
    padding: 0.5714285714285714rem;
  }

  .description {
    padding: 0.5714285714285714rem;
  }

  .version {
    color: #a1a1a1;
    margin-left: auto;
  }
}

// Does not use CSS modules because it must target the non CSS module ant class
.kaiju-tooltip .ant-tooltip-inner {
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}
