:local {
  .description {
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
    visibility: hidden;
  }

  .icon {
    margin-right: 5px;
  }

  .item {
    color: #bbb;
    cursor: grab;
    display: flex;
    flex: 0 0 auto;
    list-style-type: none;
    padding: 5px 0;

    &:hover {
      background-color: var(--kaiju-theme-hover-active, #282828);

      .description {
        visibility: visible;
      }
    }
  }

  .link {
    color: var(--kaiju-theme-color, #1db954);

    &:hover {
      color: rgba(29, 185, 84, 0.75);
    }
  }
}
