// Custom ant styles
// stylelint-disable
.kaiju-Number,
.ant-input-number-input,
.ant-input-number-handler-wrap,
.ant-input-number-handler,
.ant-input-number-focused,
.ant-input-number-input-wrap {
  background-color: var(--kaiju-theme-background-secondary-color, #333);
  border-color: #444;
  color: #999;

  &:focus,
  &::selection {
    border-color: var(--kaiju-theme-color, #1db954);
  }


  &:hover {
    border-color: #444;
  }

  &:focus:hover {
    border-color: var(--kaiju-theme-color, #1db954);
  }
}
