language: node_js
sudo: required
services:
  - redis-server
script:
  - npm test
  - npm run scan
branches:
  only:
    - master
cache:
  directories:
    - node_modules
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    docker build -t cerner/kaiju-rails:latest .;
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
    docker push cerner/kaiju-rails:latest;
    fi
