.kaiju-TreeView {
  cursor: default;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  user-select: none;
}

.kaiju-TreeView-header {
  align-items: center;
  display: flex;
}

.kaiju-TreeView-chevron {
  flex: 0 0 auto;
  font-size: 0.5rem;
  margin-right: 5px;

  &.is-collapsed {
    transform: rotate(-90deg);
  }
}

.kaiju-TreeView-children {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;

  &.is-collapsed {
    display: none;
  }
}
