:local {
  .catalog {
    flex: 0 0 256px;
  }

  .content {
    padding: 8px;
  }

  .header {
    padding: 0 4px;
  }

  .search-wrapper {
    padding: 4px;
    position: relative;
  }

  .search-icon {
    bottom: 0;
    left: 10px;
    margin: auto;
    position: absolute;
    top: 0;
  }

  .search-input {
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-top: 5px;
    width: 100%;
  }

  .no-results {
    height: 100%;
    padding: 10px;
    text-align: center;
  }
}
