:local {
  .catalog {
    flex: 0 0 256px;
  }

  .content {
    padding: 8px;
  }

  .header {
    padding: 0 4px;
  }

  .search-wrapper {
    padding: 4px;
  }

  .search-input {
    width: 100%;
  }
}
