<!DOCTYPE html>
<html>
<head>
  <title>Kaiju</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'attributes' %>
  <%= javascript_pack_tag 'attributes' %>
</head>
<body>

<%= yield %>

</body>
</html>
