<!DOCTYPE html>
<html dir="ltr">
<head>
  <title>Kaiju</title>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'attributes' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
