<!DOCTYPE html>
<html dir="ltr" style="background: transparent;">
<head>
  <title>Kaiju</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'component' %>
  <%= javascript_pack_tag 'component' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: transparent;">

<%= yield %>

</body>
</html>
