<!DOCTYPE html>
<html dir="ltr">
<head>
  <title>Kaiju</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'launch' %>
  <%= javascript_pack_tag 'launch' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
