<!DOCTYPE html>
<html dir="ltr">
<head>
  <title>Kaiju</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'preview' %>
  <%= javascript_pack_tag 'preview' %>
</head>
<body>

<%= yield %>

</body>
</html>
