.kaiju-Logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  transition: 0.75s ease-in-out;

  &:hover {
    color: var(--kaiju-theme-color, #1db954);
  }
}

.kaiju-Logo-title {
  font-size: 15px;
  margin-left: 5px;
}
