.kaiju-ActionBar {
  cursor: default;
  display: flex;
  height: 45px;
  overflow: hidden;
  padding: 0 5px;
  width: 100%;
}

.kaiju-ActionBar-actions {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100%;
  margin: auto;
}
