html
  head
    title= title
    meta(name='csrf-param' content='authenticity_token')
    meta(name='csrf-token' content=`${crsfToken}`)
  body
    #root
    script(type='text/javascript').
      var workspaceId = !{JSON.stringify(workspaceId)}
    script(src= '/' + codeJs)
