// Custom overrides
// stylelint-disable-next-line
.ant-btn,
.kaiju-Button {
  background-color: rgba(68, 68, 68, 0.25);
  border-color: #777;
  color: var(--kaiju-theme-font-color, #fff);

  &:active,
  &:focus,
  &:hover {
    background-color: rgba(68, 68, 68, 0.5);
    border-color: #777;
    color: var(--kaiju-theme-font-color, #fff);
  }
}

// Custom overrides
// stylelint-disable-next-line
.ant-btn-primary,
.kaiju-Button--primary {
  background-color: rgba(29, 185, 84, 0.25);
  border-color: var(--kaiju-theme-color, #1db954);
  border-radius: 4px;
  color: var(--kaiju-theme-font-color, #fff);

  &:active,
  &:focus,
  &:hover {
    background-color: rgba(29, 185, 84, 0.5);
    border-color: var(--kaiju-theme-color, #1db954);
    color: var(--kaiju-theme-font-color, #fff);
  }
}
