.kaiju-Select {
  width: 100%;
}

// Custom ant styles
// stylelint-disable
.ant-select-selection {
  background-color: var(--kaiju-theme-background-secondary-color, #333);
  border-color: #444;
  color: #999;

  &:focus,
  &::selection {
    border-color: var(--kaiju-theme-color, #1db954);
  }


    &:hover {
      border-color: #444;
    }

    &:focus:hover {
      border-color: var(--kaiju-theme-color, #1db954);
    }
}
