.kaiju-Header {
  background-color: var(--kaiju-theme-background-secondary-color, #333);
  border-bottom: 1px solid #111;
  display: flex;
  flex: 0 0 auto;
  height: 35px;
}

.kaiju-Header-left {
  display: flex;
  flex: 0 0 230px;
  margin-left: 10px;
}

.kaiju-Header-center {
  display: flex;
  flex: 1 1 auto;
}

.kaiju-Header-projectName {
  color: #bbb;
  margin: auto;
}

.kaiju-Header-right {
  align-items: center;
  display: flex;
  flex: 0 0 230px;
  margin-left: auto;
  padding-right: 10px;
}
