.kaiju-SelectableItem {
  border-left: 2px solid transparent;
  margin-bottom: 5px;
  opacity: 0.5;
  overflow: hidden;
  padding-left: 6px;
  text-overflow: ellipsis;
  transition: opacity 0.75s ease-in-out, border 0.75s ease-in-out;
  white-space: nowrap;

  &.is-selected {
    border-color: inherit;
    opacity: 1;
  }
}
