.kaiju-LaunchScreen {
  background-color: var(--kaiju-theme-background-color, #222);
  color: var(--kaiju-theme-font-color, #fff);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.kaiju-LaunchScreen-body {
  display: flex;
  flex: auto;
  height: calc(100% - 60px);
  overflow: hidden;
}

.kaiju-LaunchScreen-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 870px;
}

.kaiju-LaunchScreen-content {
  background-image: url('/logo.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: auto;
  overflow: auto;
}

.kaiju-LaunchScreen-header {
  align-items: center;
  display: flex;
  flex: none;
  height: 60px;
  padding-right: 35px;
}

.kaiju-LaunchScreen-sidebar {
  flex: none;
  width: 160px;
}

.kaiju-LaunchScreen-searchContainer {
  margin-left: auto;
}

// Disabling to allow custom ant styles
// stylelint-disable
.kaiju-LaunchScreen-searchBar {
  width: 205px;
}

.kaiju-LaunchScreen-newProject {
  margin-top: 15px;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--kaiju-theme-background-secondary-color, #333);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
