:local {
  .drag-item {
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(17, 22, 25, 0.4);
    cursor: grab;
    display: flex;
    margin-bottom: 3px;
    padding: 10px;
  }

  .drag-item:active {
    cursor: grabbing;
  }

  .drag-item:first-child {
    margin-top: 0;
  }

  .display {
    padding-left: 10px;
  }
}
