:local {
  .components {
    display: flex;
    flex-direction: column;
    min-height: 34px;
    overflow: hidden;
  }

  .inactive {
    pointer-events: none;
    user-select: none;
  }

  .layers {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-height: 36px;
    overflow: hidden;
  }

  .layers-header {
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    cursor: ns-resize;
    margin-bottom: 5px;
  }

  .sidebar {
    border-right: 1px solid #111;
    display: flex;
    flex-direction: column;
    max-width: 99%;
    min-height: 0;
    min-width: 10px;
    position: relative;
  }

  .resizer {
    cursor: ew-resize;
    height: 100%;
    margin-right: -5px;
    position: absolute;
    right: 0;
    width: 6px;
  }
}
