.kaiju-Cloneable {
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 0 10px 10px;
}

.kaiju-Cloneable + .kaiju-Cloneable {
  margin-top: 10px;
}

.kaiju-Cloneable-actions {
  color: #999;
  display: flex;
  height: 25px;
  justify-content: flex-end;
}

.kaiju-Cloneable-action {
  margin-left: 5px;
}
