:local {
  .content {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 20px 20px 0;
  }

  .sandbox {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .iframe {
    background-color: var(--kaiju-theme-font-color, #fff);
    border: 0;
    box-shadow: 0 0 10px 0 #000;
    flex: auto;
    margin: 0 auto;
    max-width: 100%;
    min-height: 0;
    overflow: auto;
    transition: width 0.5s ease-in-out;
    width: 100%;
  }

  .tiny {
    width: 544px;
  }

  .small {
    width: 768px;
  }

  .medium {
    width: 992px;
  }

  .large {
    width: 1216px;
  }

  .huge {
    width: 1440px;
  }
}
