:local {
  .content {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 20px 20px 0;
  }

  .container {
    display: flex;
    flex: auto;
    overflow: auto;
  }

  .sandbox {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-width: 100%;
  }

  .iframe {
    background-color: var(--kaiju-theme-font-color, #fff);
    border: 0;
    box-shadow: 0 0 10px 0 #000;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.5s ease-in-out;
  }

  .auto {
    width: 100%;
  }

  .tiny {
    width: 544px;
  }

  .small {
    width: 768px;
  }

  .medium {
    width: 992px;
  }

  .large {
    width: 1216px;
  }

  .huge {
    width: 1440px;
  }

  .loader {
    background: url('/christmas-loading.gif');
    background-color: #262426;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
