.kaiju-FormItem {
  margin-bottom: 3px !important;

  // Disabling to allow custom ant styles
  // stylelint-disable
  .ant-form-item-label {
    line-height: 2;

    label {
      color: var(--kaiju-theme-font-color, #fff) !important;
    }
  }

  .ant-form-item-control {
    line-height: 2;
  }
}
