.kaiju-StoryBoard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 0;
  width: 700px;

  .kaiju-Card {
    background-color: rgba(34, 34, 34, 0.5);
  }
}

.kaiju-StoryBoard-header {
  display: flex;
  flex: 0 0 auto;
  padding: 10px 0;
}

.kaiju-StoryBoard-searchBar {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 25px;
  width: 205px;
}

.kaiju-StoryBoard-content {
  background-image: url('/christmasLogo.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex: auto;
  min-height: 0;
  overflow: auto;
  width: 710px;
}
