:local {
  .placeholder {
    border: 3px dashed rgba(29, 185, 84, 0.3);
    overflow: hidden;

    &.is-active {
      background-color: #ebf6fd;
    }

    &:only-child {
      height: 100%;
      width: 100%;
    }

    &.autoHeight {
      height: 2rem;
    }

    &.autoWidth {
      width: 2em;
    }
  }
}
