// Custom ant styles, TODO: Namespace
// stylelint-disable-next-line
.ant-input {
  background-color: var(--kaiju-theme-background-secondary-color, #333);
  border-color: #444;
  color: #999;

  &:focus,
  &::selection {
    border-color: var(--kaiju-theme-color, #1db954);
  }

  &:hover {
    border-color: #444;
  }

  &:focus:hover {
    border-color: var(--kaiju-theme-color, #1db954);
  }
}
