.kaiju-DropMarker {
  border: 1px solid var(--kaiju-theme-color, #1db954);
  pointer-events: none;
  z-index: 9999;

  &::before,
  &::after {
    background-color: var(--kaiju-theme-color, #1db954);
    border-radius: 8px;
    content: '';
    height: 8px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 8px;
  }

  &::after {
    left: auto;
    right: 0;
  }
}

.kaiju-DropMarker--inline {
  display: inline;

  &::after {
    bottom: -4px;
    left: auto;
    right: -4px;
    top: auto;
  }
}

.kaiju-DropMarker--hidden {
  display: none;
}
