:global {
  /* stylelint-disable-next-line selector-max-id */
  #root {
    height: 100%;
  }
}

:local {
  .sandbox {
    height: 100%;
  }

  .empty {
    display: flex;
  }

  .drop-message {
    color: #787575;
    font-size: 2rem;
    margin: auto;
    pointer-events: none;
  }
}
