:local {
  .overlay {
    border: 2px solid #1db954;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 10000000 !important;
  }

  .label {
    background-color: #1db954;
    border-radius: 3px;
    color: #fff;
    padding: 5px 15px;
    pointer-events: none;
    z-index: 10000000 !important;
  }

  .highlight {
    background-color: rgba(29, 185, 84, 0.3);
  }
}
