.kaiju-Browser {
  background: var(--kaiju-theme-background-secondary-color, #333);
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.kaiju-Browser-frame {
  display: flex;
  flex: auto;
  overflow: hidden;
  width: 100%;
}
