.kaiju-SectionHeader {
  background-color: var(--kaiju-theme-background-secondary-color, #333);
  padding: 8px 10px;
  user-select: none;
}

.kaiju-Editor-back {
  cursor: pointer;
  margin-right: 5px;
}
